:root{
	--color-one: #222;
	--color-two: #000;
	--color-three: #e39349;
	--color-four: #fff;
	--color-five: #f2be8d;
	--color-six: #c9388b;
	--color-seven: #f2e477;
	--color-eight: #E7EDF6;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
	scroll-behavior:smooth;
}

body{
	background-color: var(--color-one);
	overflow-x: hidden;
	transition: 0.4s;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

.mainBod{
	display: none;
}


/*LOADER*/
.loader {
    position: absolute;
    top: 40%;
    left: 47%;
    width: 90px;
    height: 100px;
}

.loader div{
    background-color: var(--color-three);
    height: 100%;
    width: 9px;
    display: inline-block;
    -webkit-animation: loading infinite 1.2s ease-in-out;
    animation: loading infinite 1.2s ease-in-out;
}


.loader .load2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.loader .load3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.loader .load4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.loader .load5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}


/*NAVBAR*/
.navb {
	width:100%;
	position:fixed;
	top:0;
	z-index:999;
	padding: 1vw 2vw;
	transition: 0.6s;
}

.navb h1 {
	color: var(--color-three);
	font-size: 2vw;
	font-family: 'Poiret One', cursive;
	float:left;
	margin-left: 2vw;
	transition: 0.6s;
}

.navb .bar{
	padding-right: 3vw;
}

.disappear{
	top:-200;
}

.navb .bar a{
	float: right;
    display: block;
	color: var(--color-four);
	font-size: 1.1vw;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	padding: 0.5vw 1vw;
	margin-right: 0.5;
    position: relative;
    transition: 0.5s;
}

.navb a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--color-three);
    height: 2px;
    transition: all 0.6s;
}

.navb a:hover::after {
    width: 100%;
}

.navb .bar a:hover{
	color: var(--color-three);
}

.sidenav {
	height:100%;
	width:0%;
	position:fixed;
	z-index:500;
	top:0px;
	left:0px;
    padding-top: 4px;
	background-color:rgba(0,0,0,0.7);
	overflow-x:hidden;
	transition:0.5s;
	padding-top:10%;
}

.sidenav a{
	display:block;
	color:var(--color-four);
	padding: 6px 2px;
	width:80%;
	text-align:center;
	text-decoration:none;
	transition: all 0.5s;
	position:relative;
	font-size:30px;
	font-weight:bold;
	font-family:'Poiret One', cursive;
	text-transform:uppercase;
}

.sidenav a::after {
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	margin:auto;
	width:0%;
	content:'.';
	color:transparent;
	background-color:var(--color-three);
	height:2px;
	transition: all 0.5s;
}

.sidenav a:hover::after {
	width:50%;
}

.sidenav a:hover {
	color:var(--color-three);
}

.sidenav .close {
	position:absolute;
	top:60px;
	right:35px;
	font-size:36px;
	width:10%;
}


@media screen and (max-height:450px) {
	.sidenav {padding-top:15px;}
	.sidenav a {font-size:18px;}
}

@media screen and (max-width:950px){
	.nav-big {
		display:none !important;
	}
	.nav-small {
	display: block!important;	
	}	
}

.nav-big {
	display:block;
}	

.nav-small{
	display:none;
}

.nav-small .icon{
	color:var(--color-three);
	font-size: 35px;
	padding:5px;
}

/*HOME*/
.home {
	height:100%;
	width:100%;
	top:0;
	right:0;
	left:0;
    padding-bottom: 15%;
	background-color:rgba(0,0,0,0.5);
	overflow-x:hidden;
}

.home::scrollbar{
	display: none;
}

.home::before {
	position:absolute;
	background-size:cover;
	background-attachment:fixed;
	background-position:top;
	height:100%;
	width:100%;
    padding-bottom: 15%;
	z-index:-1;
	animation: changebg 40s infinite;
	content:"";
}

.home h1{
    font-size: 110px;
    color: #fff;
    font-family: 'Poiret One', cursive;
    padding-top: 23%;
}

.home h2{
    font-size: 50px;
    color: #ebebeb;
    text-shadow: 3px 3px 4px #666;
    padding-top: 1%;
    font-family:'Poiret One', cursive;
}

/*ABOUT*/
.abt{
    width: 100%;
    background-color: #fff;
    padding-bottom: 5%;
}

.abt img{
    width: 90%;
    height: 110%;
    padding-top: 2%;
}

.abt .img1{
    height: 330px;
    width: 330px;
    margin-left: 7%;
    margin-bottom: 5%;
}

.abt .img2{
    height: 230px;
    width: 230px;
    transform: rotate(10deg);
    float: right;
}

.abt .img3{
    height: 270px;
    width: 270px;
    transform: rotate(-15deg);
    float: left;
    margin-top: 9%;
}

.abt h1{
    font-size: 70px;
    color: var(--color-six);
    font-family:'Poiret One', cursive;
    padding-top: 10%;
    text-align: right;
}

.abt h1:hover{
    animation: colour infinite 3s ease-in-out;
}

p {
    font-size: 27px;
    font-family: 'Piazzolla', serif;
    color: var(--color-one);
    padding-right: 3%;
    text-align: right;
}

/*FEATURES*/
.feat{
    background-color: #000;
    padding-top: 5%;
    padding-bottom: 5%;
}

.feat h1{
    font-size: 80px;
    color: var(--color-three);
    font-family: 'Poiret One', cursive;
}

.feat img{
    width: 100%;
}

.feat .new{
    padding-top: 5%;
}

.feat .new h1{
    font-size: 60px;
    color: var(--color-six);
    font-family:'Poiret One', cursive;
    padding-bottom: 3%;
}

.feat .new p{
    font-size: 27px;
    font-family: 'Piazzolla', serif;
    color: var(--color-eight);
    text-align: center;
    padding: 3%;
    padding-top: 5%;
    border: #fff 2px solid;
}

/*TEASER*/
.teaser{
    background-color: #fff;
    padding-bottom: 3%;
}

.teaser video{
    height: 80%;
    width: 80%;
}

.teaser h1 {
	font-size:80px;
	font-family:'Poiret One', cursive;
	color:var(--color-six);
	padding-top:5%;
	text-align:center;
}

/*TEAM*/
.team{
	background-color: var(--color-one);
	padding-top: 5%;
	padding-bottom: 3%;
}

.team h1{
	font-size: 80px;
	color: var(--color-three);
	font-family: 'Poiret One', cursive;
	padding-bottom: 1%;
}

.team img{
	width: 90%;
	height: 100%;
	transition: 0.4s;
	padding: 10px;
	border: #e39349 solid 2px;
}

.team img:hover{
	transform: scaleX(1.06) scaleY(1.06) scaleZ(1);
}

/*POSTERS*/
.posters{
	background-color: var(--color-four);
	padding-top: 5%;
	padding-bottom: 3%;
}

.posters h1{
	font-size: 80px;
    color: var(--color-six);
    font-family:'Poiret One', cursive;
    padding-bottom: 3%;
}

.posters img{
	width: 80%;
	height: 500px;
	margin: 25px;
	border: #222 solid 2px;
	transition: 0.4s;
}

.posters img:hover{
	transform: scaleX(1.06) scaleY(1.06) scaleZ(1);
}

/*CONTACT*/
.reach {
	width: 100%;
    background-color: #F5F5F5;
    padding: 1%;
}

.reach h2 {
	font-size: 40px;
	font-family:'Raleway', sans-serif;
	color:var(--color-six);
	padding-top:2vh;
	text-align:center;
}

.reach p{
	font-size: 27px;
	font-family:'Raleway', sans-serif;
	color: var(--color-one);
	text-align:center;
}

.reach p:hover{
	color:#0000FF;
}

/*FOOTER*/
.footer{
    width: 100%;
	background-color: var(--color-one);
	text-align: center;
	padding-bottom:2%;
	padding-top: 5%;
}

.footer h1{
	text-align: center;
	color: var(--color-three);
    font-family: 'Poiret One', cursive;
    font-size: 75px;
    padding-top: 2%;
	text-decoration:none !important;
}

.footer h2{
    color: #fff;
    font-family: 'Piazzolla', serif;
    font-size: 30px;
    padding-top: 0.5vw;
    text-align: center;
	text-decoration:none !important;
}

.footer p{
    color: #fff;
    font-family: 'Piazzolla', serif;
    font-size: 18px;
    text-align: center;
    padding-top: 1%;
	text-decoration:none !important;
}

.footer .special{
	color: var(--color-four);
}

.footer .special:hover{
	color: var(--color-six);
}

/*ANIMATIONS*/
@-webkit-keyframes loading {

    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1.0);
        transform: scaleY(1.0);
    }
}

@keyframes loading {

    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1.0);
        transform: scaleY(1.0);
    }
}

@keyframes changebg {
	1% {
		background-image:url(images/mirror1.jpeg);
	}
	15% {
		background-image:url(images/mirror2.jpeg);
	}
	30% {
		background-image:url(images/mirror3.jpeg);
	}
	45% {
		background-image:url(images/mirror4.jpeg);
	}
	60%{
		background-image:url(images/mirror5.jpeg);
	}
	80% {
		background-image:url(images/mirror6.jpeg);
	}
	100%{
		background-image:url(images/mirror7.png);
	}
	
	
}